{erl_opts, [debug_info]}.
{sub_dirs, ["rel"]}. 
{deps, [
        {pkt, ".*", {git, "https://github.com/msantos/pkt.git", {ref, "master"}}},
        {epcap, "0.7.9", {git, "https://github.com/msantos/epcap", {branch, "master"}}},
        {parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans", {branch, "master"}}}
	]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
